$center-2p: 2% auto;

body {
  background-color: #F1F1F1;
}

.container {
  width: 90%;
  margin: $center-2p;
}

#board {
  width: 700px;
  height: 700px;
  margin: $center-2p;
  border: 2px solid black;

  td {
    width: 11.1%;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-color: white;
    text-align: center;
  }
}