$center-2p: 2% auto;
$dark_color: #3d414c;
$lighter_color: #f9fafc;
$text_color: white;
$blue: #3d88dd;
$hover_color: #005daf;
$margin: 7%;
$thin_border: 2px solid $dark_color;
$thick_border: 5px solid $dark_color;
$full_circle: 2% 2.5% 2% 2.5%;
$box-shadow: 0 0 6px $dark_color;

.left {
  float: left;
}

.right {
  float: right;
}

.margin_left {
  margin-left: 3em;
}

body {
  background-color: $lighter_color;
}

.main_head {
  width: 100%;
  background-color: $dark_color;
  height: 5.5em;
  color: $text_color;

  .main_title {
    margin-left: $margin;
    margin-top: .75em
  }

  .nav_bar {
    width: 5%;
    margin: .85em $margin;
    font-size: 1.1em;
  }
}

.container {
  width: 80%;
  margin: $center-2p;

  a {
    color: $text_color;
    text-decoration: none;

    .game_links {
      width: 15%;
      height: 3em;
      margin: $full_circle;
      border-radius: 5px;
      background-color: $blue;
      border: 2px solid $text_color;
      box-shadow: $box-shadow;
      color: $text_color;
      transition: border, background-color, box-shadow, .5s;
    }

    .game_links:hover {
      border: 2px solid $dark_color;
      background-color: $dark_color;
      box-shadow: 0 0 15px #000;
    }
  }
}

#board {
  width: 700px;
  height: 700px;
  margin: $center-2p;
  border: $thick_border;
  box-shadow: $box-shadow;
  font-size: 1.3em;
  font-weight: bold;

  tr:nth-child(3n+3) {
    border-bottom: $thick_border;
  }

  td {
    width: 11.1%;
    border-right: $thin_border;
    border-bottom: $thin_border;
    background-color: white;
    text-align: center;
  }

  td:nth-child(3n+3) {
    border-right: $thick_border;
  }
}

#tabs {
  width: 90%;
  margin: 7% auto;

  ul {
    width: 100%;
    content: "";
    display: table;
    border-collapse: collapse;
    background-color: $dark_color;



    .tab {
      display: inline-block;
      border: $thin_border;
      background-color: #dadbdd;
      width: 12%;
      height: 2em;
      text-align: center;
      padding-top: 1em;
      transition: background-color, border-bottom, .5s;

      a {
        color: black;
        text-decoration: none;
      }
    }

    .tab:focus {
      background-color: $lighter_color;
      outline: none;
    }
  }

  .tab_area {
    height: 20em;
    margin-top: -1em;
    border: $thin_border;
    padding: 2em;
    font-size: 1.2em;
  }
}

// Welcome Page
#welcome {
  background-color: $dark_color;
  height: 51em;
  position: fixed;
  width: 100%;

  .sudoku_title {
    color: $text_color;
  }

  .form_container {
    margin: 15% auto;
  }

  #signup, #signin {
    width: 50%;
    margin: $margin;

    input {
      width: 80%;
      height: 2em;
    }
  }
}