$center-2p: 2% auto;
$main_color: grey;
$margin: 4%;

.left {
  float: left;
}

.right {
  float: right;
}

body {
  background-color: #F1F1F1;
}

.main_head {
  width: 100%;
  background-color: $main_color;
  height: 5.5em;

  .main_title {
    margin-left: $margin;
  }

  .nav_bar {
    width: 5%;
    margin-right: $margin;
  }
}

.container {
  width: 90%;
  margin: $center-2p;
}

#board {
  width: 700px;
  height: 700px;
  margin: $center-2p;
  border: 2px solid black;

  td {
    width: 11.1%;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-color: white;
    text-align: center;
  }
}