<header class="main_head">
  <h1 class="main_title left">Sudoku</h1>
  <h5 class="mofo left">Motha' Fuckas</h5>
  <nav class="nav_bar right">
    <table class="nav_table">
      <thead>
        <tr>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Profile</td>
        </tr>
        <tr>
          <td><a href="/signout">Sign Out</a></td>
        </tr>
      </tbody>
    </table>
  </nav>
</header>
<a id="new_board" href="/board/new">New Board</a>
<a href="/board/solution" id="solve_board">Solve Board</a>


<%= erb :_board, layout: false %>