<header class="main_head">
  <h1 class="main_title left">Sudoku</h1>
  <h5 class="mofo left">Motha' Fuckas</h5>
  <nav class="nav_bar right">
    <table class="nav_table">
      <thead>
        <tr>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Profile</td>
        </tr>
        <tr>
          <td><a href="/signout">Sign Out</a></td>
        </tr>
      </tbody>
    </table>
  </nav>
</header>
<div class="container">
  <center>
    <button class="game_links">
      <a class="new_board links" href="/board/new">New Board</a>
    </button>
    <button class="game_links">
      <a class="solve_board links" href="/board/solution">Solve Board</a>
    </button>
    <button class="game_links">
      <a class="links" href="#">Submit Solution</a>
    </button>
  </center>
</div>


<%= erb :_board, layout: false %>