<div class="background">
</div>
  <section class="winner">
    <button class='x_button right'>X</button>
    <h2 class="margin-top">
      Congratulations! You solved the board.
    </h2>
    <img src="images/gold_star.png">
    <h3>
      Your score has just been updated.  Keep up the Great Work!
    </h3>
    <button class="new_game_lightbox">New Game!</button>
  </section>
