<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>

  <title></title>
</head>
<body>
  <%= yield %>
</body>
  <script src="/js/initialize.js"></script>
  <script src="/js/SudokuRazy.js"></script>
  <script src="/js/welcomeTitle.js"></script>
  <script src="/js/GameController.js"></script>
  <script src="/js/GameModel.js"></script>
  <script src="/js/GameView.js"></script>
  <script src="/js/application.js"></script>
</html>
